@* model for banner *@
@model byte[]

@{ ViewBag.Title = "Fake auth endpoint"; }

<h2>
    The protected result looks like this
</h2>

<div>
    <byte-to-hex-convert byte-array="Model"/>
</div>

<partial name="_FrameworkVersion">