@* model for banner *@
@model byte[]

@* prepare src for img tag *@
@{ var imageSrc = $"data:image/png;base64,{Convert.ToBase64String(Model)}"; }


@* display banner *@
<div>
    <img src="@imageSrc" />
</div>

<h1>
    Hello, Dev MeetUp!
</h1>

<partial name="_FrameworkVersion" />

<div>
    <a asp-action="FakeAuthEndpoint">Invoke fake auth endpoint</a>
</div>
